<!DOCTYPE html>
<html>
  <head>
     <title><%= yield(:title) %> | rVR Engagement Resources</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all',
                                              'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <!--[if lt IE 9]>
      <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/r29/html5.min.js">
      </script>
    <![endif]-->
  </head>
  <body>
    <header class="navbar navbar-fixed-top navbar-inverse">
      <div class="container">
        <nav>
          <ul class="nav navbar-nav navbar-right">
            <li><%= link_to "Home",   '/' %></li>
            <li><%= link_to "Why rVR?",   'https://jnj.sharepoint.com/teams/rapidValueRealization2/Shared%20Documents/rapidValue_Overview.pdf', :target=> '_blank' %></li>
            <li><%= link_to "What is Agile?", 'https://jnj.sharepoint.com/teams/rapidValueRealization2/Shared%20Documents/Forms/AllItems.aspx?id=%2Fteams%2FrapidValueRealization2%2FShared%20Documents%2FAgile%20Point%20of%20View%2Epdf&parent=%2Fteams%2FrapidValueRealization2%2FShared%20Documents', :target=> '_blank' %></li>
            <li><%= link_to "Our Services", '/static_pages/services' %></li>
            <li><%= link_to "Roster", '/static_pages/roster' %> </li>
          </ul>
        </nav>
      </div>
    </header>
    <div class="container">
      <%= yield %>
    </div>

    <footer class="footer">
  <small>
    For more help reach out to our<strong><a href="https://www.yammer.com/its.jnj.com/#/threads/inGroup?type=in_group&feedId=12335628" target = "_blank"> Community of Practice</a></strong>
  </small>
  <nav>
    <ul>
      <strong><li><%= link_to "More Information",   'https://jnj.sharepoint.com/teams/rapidValueRealization2/SitePages/rapid%20Value.aspx?web=1', :target=> "_blank" %></li></strong>
    </ul>
  </nav>
</footer>
  </body>
</html>
